  
<!DOCTYPE html>
<html>
<head>
	
	<!-- meta tags and title -->
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Page Title</title>

	<!-- external and internal CSS -->
	<link rel="stylesheet" href="styles.css" media="all">
	<style>
		 @media (min-width: 700px) {
body {
        background-color: green; 
      
    
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 5;
    padding: 0;
    line-height: 1.6;
	</style>

</head>
<body>

</body>
</html 